.auth-container {
    display: flex;
    margin: 40px 0 0 0;
    justify-content: center;
}
.auth-info{
    margin-top: 30px;
    margin-right: 60px;
}
.auth-info-title {
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    color: #263238;
}
.auth-info-subtitle {
    margin: 20px 0;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;

    color: #9E9E9E;
}